*TemporaryGeneratedFile_*
TestApp.g.resources
*.cache
*FileListAbsolute.txt
*TestApp.Properties.Resources.resources
*.lref
*.g.cs
TestApp/obj/Debug/MainWindow.g.i.cs
TestApp/bin/Debug/TestApp.vshost.exe.config
TestApp/bin/Debug/TestApp.vshost.exe.manifest
TestApp/obj/Debug/App.g.i.cs
TestApp/obj/Debug/MainWindow.baml
.vs/TPDev.MessageFactory/v14/.suo
TPDev.MailFactory/bin/Debug/TPDev.MailFactory.dll
TPDev.MailFactory/bin/Debug/TPDev.MailFactory.pdb
TPDev.MailFactory/bin/Debug/TPDev.MailInterface.dll
TPDev.MailFactory/bin/Debug/TPDev.MailInterface.pdb
TPDev.MailInterface/bin/Debug/TPDev.MailInterface.dll
TPDev.MailInterface/bin/Debug/TPDev.MailInterface.pdb
TPDev.SmsFactory/bin/Debug/TPDev.SmsFactory.dll
TPDev.SmsFactory/bin/Debug/TPDev.SmsFactory.pdb
TPDev.SmsFactory/bin/Debug/TPDev.SmsInterface.dll
TPDev.SmsFactory/bin/Debug/TPDev.SmsInterface.pdb
TPDev.SmsFactory/bin/Debug/TPDev.WebSMS.dll
TPDev.SmsFactory/bin/Debug/TPDev.WebSMS.pdb
TPDev.SmsFactory/bin/Debug/WebsmsToolkitCS.dll
TestApp/bin/Debug/TPDev.MailFactory.dll
TestApp/bin/Debug/TPDev.MailFactory.pdb
TestApp/bin/Debug/TPDev.MailInterface.dll
TestApp/bin/Debug/TPDev.MailInterface.pdb
TestApp/bin/Debug/TPDev.SmsFactory.dll
TestApp/bin/Debug/TPDev.SmsFactory.pdb
TestApp/bin/Debug/TPDev.SmsInterface.dll
TestApp/bin/Debug/TPDev.SmsInterface.pdb
TestApp/bin/Debug/TPDev.WebSMS.dll
TestApp/bin/Debug/TPDev.WebSMS.pdb
TestApp/bin/Debug/TestApp.exe
TestApp/bin/Debug/TestApp.exe.config
TestApp/bin/Debug/TestApp.pdb
TestApp/bin/Debug/TestApp.vshost.exe
TestApp/bin/Debug/WebsmsToolkitCS.dll
TPDev.SmsInterface/bin/Debug/TPDev.SmsInterface.dll
TPDev.SmsInterface/bin/Debug/TPDev.SmsInterface.pdb
TPDev.WebSMS/bin/Debug/TPDev.SmsInterface.dll
TPDev.WebSMS/bin/Debug/TPDev.SmsInterface.pdb
TPDev.WebSMS/bin/Debug/TPDev.WebSMS.dll
TPDev.WebSMS/bin/Debug/TPDev.WebSMS.pdb
TPDev.WebSMS/bin/Debug/WebsmsToolkitCS.dll
