*TemporaryGeneratedFile_*
TestApp.g.resources
*.cache
*FileListAbsolute.txt
*TestApp.Properties.Resources.resources
*.lref
*.g.cs
TestApp/obj/Debug/MainWindow.g.i.cs
TestApp/bin/Debug/TestApp.vshost.exe.config
TestApp/bin/Debug/TestApp.vshost.exe.manifest
TestApp/obj/Debug/App.g.i.cs
TestApp/obj/Debug/MainWindow.baml
.vs/TPDev.MessageFactory/v14/.suo
TPDev.MailFactory/bin/Debug/TPDev.MailFactory.dll
TPDev.MailFactory/bin/Debug/TPDev.MailFactory.pdb
TPDev.MailFactory/bin/Debug/TPDev.MailInterface.dll
TPDev.MailFactory/bin/Debug/TPDev.MailInterface.pdb
TPDev.MailInterface/bin/Debug/TPDev.MailInterface.dll
TPDev.MailInterface/bin/Debug/TPDev.MailInterface.pdb
TPDev.SmsFactory/bin/Debug/TPDev.SmsFactory.dll
TPDev.SmsFactory/bin/Debug/TPDev.SmsFactory.pdb
TPDev.SmsFactory/bin/Debug/TPDev.SmsInterface.dll
TPDev.SmsFactory/bin/Debug/TPDev.SmsInterface.pdb
TPDev.SmsFactory/bin/Debug/TPDev.WebSMS.dll
TPDev.SmsFactory/bin/Debug/TPDev.WebSMS.pdb
TPDev.SmsFactory/bin/Debug/WebsmsToolkitCS.dll
TestApp/bin/Debug/TPDev.MailFactory.dll
TestApp/bin/Debug/TPDev.MailFactory.pdb
TestApp/bin/Debug/TPDev.MailInterface.dll
TestApp/bin/Debug/TPDev.MailInterface.pdb
TestApp/bin/Debug/TPDev.SmsFactory.dll
TestApp/bin/Debug/TPDev.SmsFactory.pdb
TestApp/bin/Debug/TPDev.SmsInterface.dll
TestApp/bin/Debug/TPDev.SmsInterface.pdb
TestApp/bin/Debug/TPDev.WebSMS.dll
TestApp/bin/Debug/TPDev.WebSMS.pdb
TestApp/bin/Debug/TestApp.exe
TestApp/bin/Debug/TestApp.exe.config
TestApp/bin/Debug/TestApp.pdb
TestApp/bin/Debug/TestApp.vshost.exe
TestApp/bin/Debug/WebsmsToolkitCS.dll
TPDev.SmsInterface/bin/Debug/TPDev.SmsInterface.dll
TPDev.SmsInterface/bin/Debug/TPDev.SmsInterface.pdb
TPDev.WebSMS/bin/Debug/TPDev.SmsInterface.dll
TPDev.WebSMS/bin/Debug/TPDev.SmsInterface.pdb
TPDev.WebSMS/bin/Debug/TPDev.WebSMS.dll
TPDev.WebSMS/bin/Debug/TPDev.WebSMS.pdb
TPDev.WebSMS/bin/Debug/WebsmsToolkitCS.dll
TPDev.SmsFactory/TPDev.SmsFactory_BACKUP_7108.csproj
TPDev.SmsFactory/TPDev.SmsFactory_BASE_7108.csproj
TPDev.SmsFactory/TPDev.SmsFactory_LOCAL_7108.csproj
TPDev.SmsFactory/TPDev.SmsFactory_REMOTE_7108.csproj
TPDev.MailFactory/bin/Release/TPDev.MailFactory.dll
TPDev.MailFactory/bin/Release/TPDev.MailFactory.pdb
TPDev.MailFactory/bin/Release/TPDev.MailInterface.dll
TPDev.MailFactory/bin/Release/TPDev.MailInterface.pdb
TPDev.MailInterface/bin/Release/TPDev.MailInterface.dll
TPDev.MailInterface/bin/Release/TPDev.MailInterface.pdb
TPDev.SmsApi/bin/Debug/SMSApi.dll
TPDev.SmsApi/bin/Debug/SMSApi.pdb
TPDev.SmsApi/bin/Debug/TPDev.SmsApi.dll
TPDev.SmsApi/bin/Debug/TPDev.SmsApi.pdb
TPDev.SmsApi/bin/Release/SMSApi.dll
TPDev.SmsApi/bin/Release/SMSApi.pdb
TPDev.SmsApi/bin/Release/TPDev.SmsApi.dll
TPDev.SmsApi/bin/Release/TPDev.SmsApi.pdb
TPDev.SmsApi/bin/Release/TPDev.SmsInterface.dll
TPDev.SmsApi/bin/Release/TPDev.SmsInterface.pdb
TPDev.SmsFactory/bin/Release/SMSApi.dll
TPDev.SmsFactory/bin/Release/SMSApi.pdb
TPDev.SmsFactory/bin/Release/TPDev.SmsApi.dll
TPDev.SmsFactory/bin/Release/TPDev.SmsApi.pdb
TPDev.SmsFactory/bin/Release/TPDev.SmsFactory.dll
TPDev.SmsFactory/bin/Release/TPDev.SmsFactory.pdb
TPDev.SmsFactory/bin/Release/TPDev.SmsInterface.dll
TPDev.SmsFactory/bin/Release/TPDev.SmsInterface.pdb
TPDev.SmsFactory/bin/Release/TPDev.WebSMS.dll
TPDev.SmsFactory/bin/Release/TPDev.WebSMS.pdb
TPDev.SmsFactory/bin/Release/WebsmsToolkitCS.dll
TPDev.SmsInterface/bin/Release/TPDev.SmsInterface.dll
TPDev.SmsInterface/bin/Release/TPDev.SmsInterface.pdb
TPDev.WebSMS/bin/Release/TPDev.SmsInterface.dll
TPDev.WebSMS/bin/Release/TPDev.SmsInterface.pdb
TPDev.WebSMS/bin/Release/TPDev.WebSMS.dll
TPDev.WebSMS/bin/Release/TPDev.WebSMS.pdb
TPDev.WebSMS/bin/Release/WebsmsToolkitCS.dll
TestApp/bin/Release/SMSApi.dll
TestApp/bin/Release/SMSApi.pdb
TestApp/bin/Release/TPDev.MailFactory.dll
TestApp/bin/Release/TPDev.MailFactory.pdb
TestApp/bin/Release/TPDev.MailInterface.dll
TestApp/bin/Release/TPDev.MailInterface.pdb
TestApp/bin/Release/TPDev.SmsApi.dll
TestApp/bin/Release/TPDev.SmsApi.pdb
TestApp/bin/Release/TPDev.SmsFactory.dll
TestApp/bin/Release/TPDev.SmsFactory.pdb
TestApp/bin/Release/TPDev.SmsInterface.dll
TestApp/bin/Release/TPDev.SmsInterface.pdb
TestApp/bin/Release/TPDev.WebSMS.dll
TestApp/bin/Release/TPDev.WebSMS.pdb
TestApp/bin/Release/TestApp.exe
TestApp/bin/Release/TestApp.exe.config
TestApp/bin/Release/TestApp.pdb
TestApp/bin/Release/TestApp.vshost.exe
TestApp/bin/Release/TestApp.vshost.exe.config
TestApp/bin/Release/TestApp.vshost.exe.manifest
TestApp/bin/Release/WebsmsToolkitCS.dll
TestApp/bin/Debug/TPDev.MailSender.dll
TestApp/bin/Debug/TPDev.MailSender.pdb
TestApp/bin/Debug/TPDev.SmsApi.dll
TestApp/bin/Debug/TPDev.SmsApi.pdb
TestApp/bin/Release/TPDev.MailSender.dll
TestApp/bin/Release/TPDev.MailSender.pdb
TestApp/bin/Debug/SMSApi.dll
TestApp/bin/Debug/SMSApi.pdb
TPDev.SmsFactory/bin/Debug/SMSApi.dll
TPDev.SmsFactory/bin/Debug/SMSApi.pdb
TPDev.SmsFactory/bin/Debug/TPDev.SmsApi.dll
TPDev.SmsFactory/bin/Debug/TPDev.SmsApi.pdb
TPDev.SmsApi/bin/Debug/TPDev.SmsInterface.dll
TPDev.SmsApi/bin/Debug/TPDev.SmsInterface.pdb
TestApp/obj/Debug/TempPE/Properties.Resources.Designer.cs.dll
TPDev.MailSender/bin/Debug/TPDev.MailInterface.dll
TPDev.MailSender/bin/Debug/TPDev.MailInterface.pdb
TPDev.MailSender/bin/Debug/TPDev.MailSender.dll
TPDev.MailSender/bin/Debug/TPDev.MailSender.pdb
TPDev.MailSender/bin/Release/TPDev.MailInterface.dll
TPDev.MailSender/bin/Release/TPDev.MailInterface.pdb
TPDev.MailSender/bin/Release/TPDev.MailSender.dll
TPDev.MailSender/bin/Release/TPDev.MailSender.pdb
TPDev.MailFactory/bin/Debug/TPDev.MailSender.dll
TPDev.MailFactory/bin/Debug/TPDev.MailSender.pdb
TPDev.MailFactory/bin/Release/TPDev.MailSender.dll
TPDev.MailFactory/bin/Release/TPDev.MailSender.pdb
TestApp/obj/Release/MainWindow.g.i.cs
